body{
    background-color: #457eff  ;
}

p{
    font-size: 20px;
}

img{
    width: 20vw;
    height: 20vh;
}

h1,h2{
    font-family: Arial,serif;
    color: #7dffa9;
}

.highlightMe{
    font-family: Verdana, serif;
    color: bisque;
}

#myName {
    color: firebrick;
    font-weight: bolder;
}

a img {
    width: 5vw;
    height: 5vh;
}